//Rackets of all colors initialization block

//White color
$color-white: #fff;

//Black color
$color-black: #000;

//Gray color
$color-gray-a: #acacac;
$color-gray-b: #bcbcbc;
$color-gray-d: #dcdcdc;

//Soft red color
$color-soft-red-f: #fc756f;

//Light gray color
$color-light-gray-c: #c4c4c4;

//Dark grayish red color
$color-dark-grayish-red-9: #928f8f;